*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    font-family: "Playfair Display", serif;
    font-style: normal;
}

header nav li
{
    display: inline;
    padding-right: 65px;
    font-size: 18px;
}

header nav li a
{
    text-decoration: none;
    color: #F3EED9;
}

header .container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6E4E37;
    border-radius: 10px;
}

.alinhamento
{
    display: flex;
    align-items: center;
}

.container img
{
    height: 70px;
    align-items: flex-start;
}

.container h1
{
    font-size: 40px;
    padding: 16px;
    margin: 8px;
    color: #F3EED9;
}


body
{
    background-color: rgb(54, 17, 17);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}