*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    font-family: "Playfair Display", serif;
    font-style: normal;
}

header nav li
{
    display: inline;
    padding-right: 65px;
    font-size: 18px;
}

header nav li a
{
    text-decoration: none;
    color: #F3EED9;
    padding: 8px;
}

header .container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6E4E37;
    border-radius: 10px;
}

.alinhamento
{
    display: flex;
    align-items: center;
}

.container img
{
    height: 70px;
    align-items: flex-start;
}

.container h1
{
    font-size: 40px;
    padding: 16px;
    margin: 8px;
    color: #D3BFA1;
}

section .container .menu
{
    align-items: center;
}

section .container img
{
    height: 700px;
    padding-left: 50px;
}

section .container h2
{
    font-size: 45px;
    padding: 16px;
    padding-left: 230px;
    width: 150px;
    align-items: center;
    color: #D3BFA1;
}

body
{
    background-color: #4E3629;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section .container .content
{
    display: flex;
    align-items: flex-start;
    width: 100%;
}